<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections xdt:Transform="Remove" />
  <configSections xdt:Transform="InsertBefore(/configuration/*[1])">
    <sectionGroup name="intuit">
      <section name="ipp" type="Intuit.Ipp.Utility.IppConfigurationSection, Intuit.Ipp.Utility"
			         allowDefinition="Everywhere" allowLocation="true"/>
    </sectionGroup>
  </configSections>
  <intuit xdt:Transform="Remove" />
  <intuit xdt:Transform="Insert">
    <ipp>
      <service>
        <baseUrl qbo="https://sandbox-quickbooks.api.intuit.com" />
        <!--  Override minor version here -->
        <minorVersion qbo="5"></minorVersion>
      </service>
    </ipp>
  </intuit>
  <appSettings xdt:Transform="Remove" />
  <appSettings xdt:Transform="Insert">
    <add key="Environment" value="DEBUG" />
  </appSettings>
</configuration>